<!DOCTYPE html>
<html lang="fa">

<head>
  <partial name="_MetaTags"/>
    <title>YektaKala | home v1</title>
  
    <partial name="_HeaderReferences"/>

   
    
</head>

<body>

    <div class="page-wrapper">
        
      <partial name="_TopHeader"/>
     
         <partial name="_Header"/>
    
        <main class="page-content">
          @RenderBody()
        </main>
        
       <partial name="_Footer"/>
    </div>



        <partial name="_FooterReferences"/>
</body>

</html>